:root {
    --orange: #f0bd6a;
    --outline: #0b0406;
    --black: #444546;
    --white: #ffffff;
    --clear: rgba(0,0,0,0);
    --blue: #244779;
    --red: #cc5557;
    --green: #cfce8c;
    --cream: #f5f2bc;
    --gray: #7d807f;

    --eyeColorBlack: var(--defaultEyeColor);
    --eyeColorBlue: var(--blue);
    --eyeColorGreen: #2d7d3c;
    --eyeColorOrange: var(--orange);


    /* why doesn't this work? */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    --colorpoint: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    --defaultMaskColor: var(--orange);
    --defaultMittenColor: var(--orange);
    --defaultTuxedoColor: var(--black);
    --defaultEyeColor: var(--outline);

    --defaultBorder: 3px solid var(--outline);

    --stripes: repeating-radial-gradient(circle, var(--clear), var(--clear) 10px, var(--black) 10px, var(--black) 20px);
    --stripesHorizontal: repeating-radial-gradient(circle, var(--clear), var(--clear) 10px, var(--black) 10px, var(--black) 20px);
}

body {
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

img {
    width: 100px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.feedback-row {
    opacity: 0;
    transition: 600ms ease-in;
}

.feedback-row--success {
    color: var(--green);
}

.feedback-row--error {
    color: var(--red);
}



.next-row {
    opacity: 0;
    transition: 600ms ease-in;
}

.fade-in {
    opacity: 1;
}

.cat-wrapper {
    width: 250px;
    height: 300px;
    margin: 20px;
}

.cat {
    width: 100%;
    height: 100%;
    position: relative;
}

/* absolutely position all descendants */
.cat *,
.cat *:before,
.cat *:after {
    position: absolute;
}

.cat:before,
.cat:after,
.cat *:before,
.cat *:after {
    content: '';
}

/*
 * Head
 */

.cat-head {
    width: 72%;
    height: 38%;
    top: 12%;
}

.cat-head-base {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: inherit;
    border: 3px solid var(--outline);
    border-top-left-radius: 51%;
    border-top-right-radius: 52%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 47%;
}

.cat-forehead {
    width: 39%;
    height: 23%;
    left: 25%;
    top: -5%;
    z-index: 1;
    transform: skewX(-13deg) rotate(1deg);
    border-radius: 50%;
}

/* .cat-forehead:before {
    width: 100%;
    height: 100%;
    top: 99%;
    left: -2.1%;
    transform: rotate(8.5deg);
}

.cat-forehead:after {
    width: 100%;
    height: 100%;
    top: 100%;
    left: 3.75%;
    transform: rotate(-7deg);
} */

.cat-ear {
    background-color: inherit;
    border-radius: 4px;
    border-top: 3px solid var(--outline);
}

.cat-ear-left {
    border-bottom-left-radius: 21px;

    height: 25%;
    width: 17%;

    left: 7%;
    top: -8%;

    transform: rotate(40deg);

    border-left: 3px solid var(--outline);
}

.cat-ear-right {
    border-top-left-radius: 18px;
    border-bottom-right-radius: 16px;

    height: 38%;
    width: 26%;

    top: -8%;
    right: 7%;

    transform: rotate(-20deg);

    border-right: 3px solid var(--outline);
}

.cat-muzzle {
    width: 36%;
    height: 45%;
    border-radius: inherit;
    bottom: 0;
    left: 19%;
    z-index: 1;
}

/* eye */
.cat-muzzle:before {
    width: 20%;
    height: 25%;
    background-color: var(--defaultEyeColor);
    border-radius: 50%;
    top: -26%;
    left: -9%;
}

/* eye */
.cat-muzzle:after {
    width: 20%;
    height: 25%;
    background-color: var(--defaultEyeColor);
    border-radius: 50%;
    top: -26%;
    right: -23%;
}

.cat-nose-mouth {
    background-color: var(--clear);
    border: 9px solid var(--clear);
    border-top-color: var(--outline);
    border-radius: 30%;
    height: 5%;
    width: 5%;
    left: 31%;
    top: 13%;
}

.cat-nose-mouth:before {
    width: 850%;
    height: 1000%;
    background-color: inherit;
    border: 4px solid var(--clear);
    border-bottom-color: var(--outline);
    border-radius: 50%;
    top: -1100%;
    left: -800%;
}

.cat-nose-mouth:after {
    width: 850%;
    height: 1000%;
    background-color: inherit;
    border: 4px solid var(--clear);
    border-bottom-color: var(--outline);
    border-radius: 50%;
    top: -1100%;
    right: -875%;
}

/*
 * Body
 */

.cat-body {
    width: 70%;
    height: 60%;

    margin-left: 15%;
    bottom: 0;
}

.cat-body-base {
    background-color: inherit;
    border: var(--defaultBorder);
    z-index: -1;
    width: 100%;
    height: 100%;

    border-top-left-radius: 29%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 30%;

    overflow: hidden;
}

.cat-body-back {
    height: 65%;
    width: 50%;
    border-radius: 25%;
    right: -26%;
    bottom: 28%;
    transform: rotate(-21deg) scaleY(0.9);
}

.cat-leg {
    background-color: inherit;
    border: var(--defaultBorder);
    border-top: 0;
    border-bottom-left-radius: 68%;
    border-bottom-right-radius: 52%;

    height: 28%;
    width: 27%;

    overflow: hidden;
}

.cat-leg-left {
    bottom: -5%;
}

.cat-leg-right {
    bottom: -6%;
    left: 33%;
}

.cat-tail {
    left: 94%;
    bottom: 14%;
    border: var(--defaultBorder);
    background-color: inherit;
    border-bottom-right-radius: 75%;
    border-top-right-radius: 45%;
    border-top-left-radius: 48%;
    width: 17%;
    height: 97%;
    transform: rotate(7deg);
    z-index: -2;
    overflow: hidden;
}

.strobe {
    transform-origin: bottom;
    animation: strobeStart .5s ease-out, strobe 1s infinite;
    animation-delay: 0s, .5s;
  }
  
  @keyframes strobeStart {
    0% {
      transform:  skew(0deg,0deg) scaleY(1) ;
      animation-timing-function: ease-in;
     }
    40% {
      transform:  skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% { transform:   skew(3deg,0deg) scaleX(1); }
  }
  
  @keyframes strobe {
    0% { transform:   skew(3deg,0deg) scaleX(1); }
    10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
    50% { transform:  skew(-3deg,0deg) scaleX(1); }
    60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
    100% {transform: skew(3deg,0deg) scaleX(1); }
  }